@import "../_themeStyles/colors.less";

.rbui-form-item {
    label {
        box-sizing: border-box;
        display: block;
        font-weight: 500;
        font-size: inherit;
    }
    input {
        box-sizing: border-box;
        display: block;
        width: 200px;
        border-radius: 4px;
        border: 1px solid #999;
        padding: 6px;
        margin: 0 0 5px;
        font-size: inherit;
    }
    &--error {
        border-color: @error;
    }
    &--fullwidth {
        width: 100%;
        input {
            width: 100%;
        }
    }
    .inline-error {
        box-sizing: border-box;
        color: @error;
        font-size: 14px;
    }
}