@import '../_themeStyles/form-styles.less';

.rbui-base-textarea {
    box-sizing: border-box;
    border-radius: @formBorderRadius;
    border: @formBorder;
    font-size: @formFontSize;
    color: @formFontColor;
    min-height: 50px;
    width: @formItemWidth * 2;
    padding: @formPadding;
    margin: @formMargin;
}