@import '../_themeStyles/colors.less';

.rbui-table {
    width: 100%;
    box-sizing: border-box;
    border-spacing: 0;
    border-collapse: seperate;
    min-width: 100%;
    font-size: 14px;
    margin: auto;
    
    &__head,
    &__body {
        box-sizing: border-box;
        .rbui-table-row:last-child,
        .rbui-table-row:only-child {
            border: none;
        }
    }
    &__row {
        box-sizing: border-box;
    }
    &__head-cell {
        box-sizing: border-box;
        border-bottom: 1px solid @borderGrey;
        padding: 4px 8px;
        text-align: left;
    }
    &__cell {
        box-sizing: border-box;
        padding: 6px 8px;
        vertical-align: top;
    }
    &__head-cell,
    &__cell {
        border-right: 1px solid #eee;
        border-bottom: 1px solid @borderGrey;
         &:last-child {
            border-right: none;
        }
    }
     &--sticky-col-labels {
        .rbui-table__head-cell:first-child,
        .rbui-table__cell:first-child {
            position: sticky;
            left: 0;
            z-index: 100;
            background: #fff;
        }
    }
    &--sticky-header {
        .rbui-table__head-cell:first-child,
        .rbui-table__head-cell {
             border-bottom: 1px solid @borderGrey;
            position: sticky;
            top: 0px;
            z-index: 100;
            background: #fff;
        }
        .rbui-table__head-cell:first-child {
              z-index: 200;
        }
    }
    &--nowrap {
        .rbui-table__head-cell,
        .rbui-table__cell {
            white-space: nowrap;
        }
    }
}